body {
	background-image: url("img/3408105.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.titolo{
	font-size:15pt;
	font-weight:bold;
	margin-top:10px;
}

		
.icona-rossa{
	color: #dc3545;  
	border:1px solid #dc3545; 
	border-right:transparent;
}

.login-block {
	margin: 30px auto;
	min-height: 93.6vh
}

.login-block .auth-box {
	margin: 20px auto 0;
	max-width: 450px !important
}

.card {
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
	box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
	border: none;
	margin-bottom: 30px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	background-color: #fff;
}

.card .card-block {
	padding: 1.25rem
}

.f-80 {
	font-size: 80px
}

.form-group {
	margin-bottom: 1.25em
}

.form-material .form-control {
	display: inline-block;
	height: 43px;
	width: 100%;
	border: none;
	border-radius: 0;
	font-size: 16px;
	font-weight: 400;
	padding: 9px;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid #ccc
}

.btn-md {
	padding: 10px 16px;
	font-size: 15px;
	line-height: 23px
}

.btn-primary {
	background-color: #4099ff;
	border-color: #4099ff;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all ease-in .3s;
	transition: all ease-in .3s
}

.btn {
	border-radius: 2px;
	text-transform: capitalize;
	font-size: 15px;
	padding: 10px 19px;
	cursor: pointer
}

.m-b-20 {
	margin-bottom: 20px
}

.btn-md {
	padding: 10px 16px;
	font-size: 15px;
	line-height: 23px
}


#infoMessage p {

	color: red !important;
}


.or-container {
	align-items: center;
	color: #ccc;
	display: flex;
	margin: 25px 0;
}

.line-separator {
	background-color: #ccc;
	flex-grow: 5;
	height: 1px;
}

.or-label {
	flex-grow: 1;
	margin: 0 15px;
	text-align: center;
}

#card{
	width: 30%;
	margin: 10% auto;

	background: #D9D9D9;
	border-radius: 15px;
	padding: 30px 0;
}

#logo{
	width: 150px;
	height: 150px;
	margin: 40px auto;
	margin-top: 0px;
	display: block;
}

input{
	display: block;
	margin: 25px auto;
	background: #FFFFFF;
		opacity: 0.6;
		box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		border: none;
		width:60%;
		height: 40px;
		padding-left: 8px;
		font-size: 16pt;
}

#btnLogin{
	display: block;
	margin: 25px auto;
		margin-top: 40px;
	box-sizing: border-box;
	
	
		background: #000000;
		opacity: 0.6;
		box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		color: white;
		font-size: 20pt;
		font-weight: bold;
		width: 60%;
		height: 4%;
		border:none;
}

hr{
	width: 50%;
	height: 2px;
}

#google-signin-button{
	display: inline-block;
	margin: 25px auto;
		background-color: #D9D9D9;
	margin-left: 28%;
}

@media screen and (max-width: 850px) {
	#card{
		width: 90%;
	}
	input{
		width: 80%;
	}
	#btnLogin{
		width: 80%;
	}
	#google-signin-button{
		margin-left: 17%;
	}

}

.bold {
    font-weight: bold;
}